.navbar {
  background-color: #131d47;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
}

.logo {
  width: 150px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 0;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 70px;
  margin-right: 0;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #9aeced;
}

.nav-item .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .nav-logo {
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid #9aeced;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.9s ease;
  }

  .nav-menu.active {
    background: #131d47;
    left: 0px;
    opacity: 1;
    transition: all 0.8s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #9aeced;
    border: none;
  }
  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #9aeced;
  }
}
